{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static  'css/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'jq/jquery-ui.css' %}">
<script type="text/javascript" src="{%static 'jq/jquery-ui.js' %}"></script>

<form method="post">
	{% csrf_token %}
	<div class="modal-header" class="container">
		<button class="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Create a new event</h4>
	</div>
	<div class="modal-body" class="col-lg-4">
		<input type="text" name="title" id="title" class="form-control" placeholder="Enter the title"><br/>
		<textarea cols="40"></textarea>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn  btn-primary">Create Event</button>
	</div>
</form>