{% extends "temps/base.html" %}

{% load static %}


{% block title %}<title>tools</title>{% endblock %}



{% block content %}

<div class="contain">
<div class="reporter">
	<div class="row">
		<form action="" role="" method="post">
			{% csrf_token %}
				<label>Rooms</label><br>
				{{rooms.rooms}}<br><br>
				<label>Course</label><br>
				{{rooms.course}}<br><br>
				<label>Unit</label><br>
				{{rooms.unit}}<br><br>
				<label>Status</label><br>
				{{rooms.status}}<br><br>
			<input type="submit" name="submit" class="btn btn-primary btn-xs" value="Report">
		</form>
	</div>
	
</div>
</div>



{% endblock %}